<ion-content fullscreen>
  <div class="background-1"></div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeTerms()"
                  color="light">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item class="ion-padding-horizontal"
            lines="none">
    <ion-text color="light">
      <h1>Agendar próxima cita</h1>
      <h3>{{patient?.name}} {{patient?.last_name}}</h3>
    </ion-text>
  </ion-item>

  <ion-card color="primary">
    <ion-calendar [(ngModel)]="appointmentDateDate"
                  (change)="selectCalendarDay()"
                  #calendar
                  [type]="type"
                  [options]="calendarOptions"
                  [format]="'YYYY-MM-DD'">
    </ion-calendar>
  </ion-card>

  <ion-item color="light">
    <ion-label position=""
               color="light">Fecha</ion-label>
    <ion-datetime [(ngModel)]="appointmentDateStr"
                  [min]="today"
                  [max]="todayToFifthStr"
                  displayFormat="YYYY-MM-DD"
                  pickerFormat="YYYY-MM-DD"
                  monthShortNames="Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic"
                  (ionChange)="selectIonDate()"
                  displayTimezone="utc"
                  doneText="Aceptar"
                  cancelText="Cancelar"></ion-datetime>
  </ion-item>

  <ion-item color="light">
    <ion-label position=""
               color="light">Hora</ion-label>
    <ion-datetime [(ngModel)]="appointmentDateStr"
                  displayFormat="hh:mm a"
                  pickerFormat="hh:mm a"
                  minuteValues="0"
                  (ionChange)="selectTime()"
                  displayTimezone="utc"
                  doneText="Aceptar"
                  cancelText="Cancelar"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-text color="light">
      <p>
        La cita será el día: <b>{{appointmentDateDate | date: 'd MMMM, y'}}</b>
      </p>
      <p>Inicia: <b>{{appointment.start_time}} hrs.</b></p>
      <p>Finaliza: <b>{{appointment.end_time}} hrs.</b></p>
    </ion-text>
  </ion-item>
  <ion-button shape="round"
              expand="full"
              size="large"
              primary
              (click)="createAppointment()">Guardar</ion-button>
</ion-content>