ion-title {
  line-height: 2rem;
  display: flex;
  --justify-content: space-between !important;
}

#callScreen {
  background: var(--ion-color-secondary-shade);
  display: block;
  position: absolute;
  height: 100%;
  width: 100vw;
}