<ion-content fullscreen>
  <div class="background-1"></div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="plans"
                       color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button defaultHref="plans"
                  [routerLink]="['/add-card']"
                  queryParamsHandling="merge"
                  color="light"
                  iconOnly
                  *ngIf="view == 'card'">
        <ion-icon name="add"
                  size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="setView($event)"
                 color="light"
                 mode="md"
                 value="card">
      <ion-segment-button value="card"
                          color="light">
        <ion-label color="light">
          <ion-icon name="card"></ion-icon> Tarjeta
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="store"
                          color="light">
        <ion-label color="light">
          <p class="notification-wrapper">
            <ion-icon name="cash"></ion-icon> OXXO <span class="notification-badge"
                  *ngIf="paymentPending.status&&paymentPending.status==2&&!paymentPending.expired">1</span>
          </p>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="ion-padding-horizontal ion-padding-top ion-margin-vertical"
       *ngIf="view == 'card'">
    <ion-grid *ngIf="cards.length<=0">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-item lines="none">
          <ion-text color="light"
                    class="ion-text-center">
            <h4>Necesitas una tarjeta de crédito o débito para pagar tu plan.</h4>
          </ion-text>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button color="tertiary"
                    shape="round"
                    [routerLink]="['/add-card']"
                    queryParamsHandling="merge">Nueva tarjeta <ion-icon slot="start"
                    name="add"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
    <ion-card [color]="card.color"
              [ngClass]="{'card-selected': card.selected}"
              class="ion-margin-vertical card"
              margin
              *ngFor="let card of cards"
              (click)="selectThisCard(card)">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h2 style="font-size: 1.2em;; margin-top: 15;"
                  class="ion-padding-horizontal">Tarjeta <span *ngIf="card.funding=='DEBIT'">de débito</span><span
                      *ngIf="card.funding=='CREDIT'">de crédito</span></h2>
              <h2
                  style="font-size: 1.2em; margin-top: 20px; margin-bottom: 20px; display: flex; justify-content: space-around;">
                <span>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                </span> <span>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                </span> <span>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                  <ion-icon name="medical"></ion-icon>
                </span>
                <b>{{card.number}}</b>
              </h2>
              <h2 style="font-size: 1.2em; margin-bottom: 15px;"
                  class="ion-padding-horizontal">{{card.holder_name}}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full"
                size="large"
                shape="round"
                type="button"
                (click)="presentPaymentAlert()"
                [disabled]="!selectedCard.token"
                *ngIf="cards.length>0">PAGAR</ion-button>
  </div>
  <div class="ion-padding-horizontal ion-padding-top ion-margin-vertical"
       *ngIf="view == 'store'">
    <ion-card color="light"
              *ngIf="paymentPending.status && paymentPending.status==2">
      <ion-card-content>
        <ion-grid>
          <h4>Realiza tu pago en cualquier tienda OXXO</h4>
          <ion-row>
            <ion-col size="3">
              <p>Monto: </p>
            </ion-col>
            <ion-col>
              <p>${{paymentPending.total?.amount}}</p>
              <p><small>la tienda puede aplicar cargos por comisión</small></p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Pagar antes del: </p>
            </ion-col>
            <ion-col>
              <p>{{moment(paymentPending.expiration_date).format('LLL')}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h3 class="ion-text-right">
          <a [href]="paymentPending.url"
             class="ion-text-capitalize"
             *ngIf="!paymentPending.expired"
             target="_blank">Descargar recibo</a>
          <p style="color: red"
             *ngIf="paymentPending.expired">Recibo vencido</p>
        </h3>
        <!-- (click)="downloadTicket(paymentPending.url, 'mind2')">Descargar recibo</ion-button> -->
      </ion-card-content>
    </ion-card>
    <ion-button expand="full"
                color="secondary"
                size="large"
                (click)="getPaymentTicket()"
                shape="round"
                *ngIf="!paymentPending.status || paymentPending.status!=2 || paymentPending.expired">Obtener recibo de
      pago</ion-button>
  </div>

</ion-content>
<ion-footer>
  <ion-card color="light"
            class="ion-margin">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-text style="color: #5f5f5f;">
            <h2 class="ion-margin-bottom"><b>Plan a pagar:</b> </h2>
            <h1 class="ion-margin-bottom"><b>Total:</b> </h1>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text style="color: #5f5f5f;"
                    class="ion-text-right">
            <h2 class="ion-margin-bottom">{{plan?.name}}</h2>
            <h1 class="ion-margin-bottom">{{plan?.amount | currency}}<small>MXN</small></h1>
          </ion-text>
        </ion-col>
        <hr>
        <ion-text style="color: #5f5f5f;"
                  class="ion-text-right">
          <h3 *ngIf="view=='card'"><b>Pagar con tarjeta:</b>
            {{selectedCard.number ? selectedCard.number : 'Selecciona una tarjeta'}}</h3>
          <h3 *ngIf="view=='store'"><b>Pagar recibo en sucursales OXXO</b></h3>
        </ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-footer>