ion-toolbar,
ion-item {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-select {
  color: var(--ion-color-light);
}

/* ion-tab-bar {
  --background: transparent;
  --border: 1px solid var(--ion-color-light);
  --color: var(--ion-color-light);
} */

.card-selected {
  border: 4px solid lightblue
}

ion-segment-button {
  --indicator-color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
}