<div class="background-1"></div>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="plans"
                       color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button defaultHref="plans"
                  [routerLink]="['/add-card']"
                  queryParamsHandling="merge"
                  color="light"
                  iconOnly
                  *ngIf="view == 'card'">
        <ion-icon name="add"
                  size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-toolbar>
    <ion-segment (ionChange)="setView($event)"
                 color="light"
                 mode="md"
                 value="card">
      <ion-segment-button value="card"
                          color="light">
        <ion-label color="light">
          <ion-icon name="card"></ion-icon> Tarjeta
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="store"
                          color="light">
        <ion-label color="light">
          <p class="notification-wrapper">
            <ion-icon name="cash"></ion-icon> OXXO <span class="notification-badge"
                  *ngIf="paymentPending.status&&paymentPending.status==2&&!paymentPending.expired">1</span>
          </p>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="ion-padding-top ion-margin-vertical"
       *ngIf="view == 'card'">
    <ion-refresher slot="fixed"
                   color="light"
                   (ionRefresh)="getCards($event)">
      <ion-refresher-content color="light"></ion-refresher-content>
    </ion-refresher>
    <ion-grid *ngIf="cards.length<=0">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-item lines="none">
          <ion-text color="light"
                    class="ion-text-center">
            <h4>Necesitas una tarjeta de crédito o débito para pagar tu plan.</h4>
          </ion-text>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button color="tertiary"
                    shape="round"
                    [routerLink]="['/add-card']"
                    queryParamsHandling="merge">Nueva tarjeta <ion-icon slot="start"
                    name="add"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
    <credit-card *ngFor="let card of cards"
                 [card]="card"
                 (click)="selectThisCard(card)"></credit-card>
    <ion-button expand="full"
                size="large"
                shape="round"
                type="button"
                class="ion-margin-horizontal"
                (click)="presentPaymentAlert()"
                [disabled]="!selectedCard.token"
                *ngIf="cards.length>0">PAGAR</ion-button>
  </div>
  <div class="ion-padding-horizontal ion-padding-top ion-margin-vertical"
       *ngIf="view == 'store'">
    <ion-card color="light"
              *ngIf="paymentPending.status && paymentPending.status==2">
      <ion-card-header>
        Realiza tu pago en cualquier tienda OXXO
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <p>Monto: </p>
            </ion-col>
            <ion-col>
              <h2>${{paymentPending.total?.amount}}</h2>
              <h2><small>la tienda puede aplicar cargos por comisión</small></h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Pagar antes del: </p>
            </ion-col>
            <ion-col>
              <p>{{moment(paymentPending.expiration_date).format('LLL')}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h3 class="ion-text-right">
          <a [href]="paymentPending.url"
             class="ion-text-capitalize"
             *ngIf="!paymentPending.expired"
             target="_blank">Descargar recibo</a>
          <p style="color: red"
             *ngIf="paymentPending.expired">Recibo vencido</p>
        </h3>
        <!-- (click)="downloadTicket(paymentPending.url, 'mind2')">Descargar recibo</ion-button> -->
      </ion-card-content>
    </ion-card>
    <ion-button expand="full"
                color="secondary"
                size="large"
                (click)="getPaymentTicket()"
                shape="round"
                *ngIf="!paymentPending.status || paymentPending.status!=2 || paymentPending.expired">Obtener recibo de
      pago</ion-button>
  </div>

</ion-content>
<ion-footer>
  <ion-card color="light"
            class="ion-margin">
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-text style="color: #5f5f5f;">
            <h2 class="ion-margin-bottom"><b>Plan a pagar:</b> </h2>
            <h2 class="ion-margin-bottom"
                *ngIf="coupon.active">Subtotal:</h2>
            <h2 class="ion-margin-bottom text-danger"
                *ngIf="coupon.active">Descuento:</h2>
            <h1 class="ion-margin-vertical"><b>Total:</b> </h1>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text style="color: #5f5f5f;"
                    class="ion-text-right">
            <h2 class="ion-margin-bottom">{{plan?.name}}</h2>
            <h2 class="ion-margin-bottom"
                *ngIf="coupon.active">{{coupon?.userPackagePrice | currency}}</h2>
            <h2 class="ion-margin-bottom text-danger"
                *ngIf="coupon.active && coupon.percentage">{{(coupon?.discount/100) | percent}}</h2>
            <h2 class="ion-margin-bottom text-danger"
                *ngIf="coupon.active && !coupon.percentage">{{coupon?.discount | currency}}</h2>
            <h1 class="ion-margin-vertical">{{plan?.final_price | currency}}<small style="font-size: 55%;">MXN</small>
            </h1>
          </ion-text>
        </ion-col>
        <ion-col size="12"
                 *ngIf="!coupon.active">
          <ion-button size="small"
                      expand="block"
                      color="tertiary"
                      (click)="addCoupon()">Agregar cupón de descuento</ion-button>
        </ion-col>

        <ion-col size="12"
                 *ngIf="coupon.active">
          <ion-button fill="outline"
                      size="small"
                      expand="block"
                      color="danger"
                      (click)="removeCoupon()">No usar cupón</ion-button>
        </ion-col>

        <ion-col size="12">
          <ion-text style="color: #5f5f5f;"
                    class="ion-text-right">
            <h3 *ngIf="view=='card'"><b>Pagar con tarjeta:</b>
              {{selectedCard.number ? selectedCard.number : 'Selecciona una tarjeta'}}</h3>
            <h3 *ngIf="view=='store'"><b>Pagar recibo en sucursales OXXO</b></h3>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-footer>