<ion-content fullscreen>
  <div class="background-welcome"></div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"
                       text="Volver"
                       color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item class="ion-padding-horizontal"
            lines="none">
    <ion-text color="light">
      <h1>Recuperación de contraseña</h1>
    </ion-text>
  </ion-item>
  <br>
  <br>
  <ion-item color="light"
            class="ion-padding-horizontal">
    <ion-label position="floating"
               color="light">Correo electrónico</ion-label>
    <ion-input color="light"
               [(ngModel)]="email"
               rounded></ion-input>
  </ion-item>
  <br><br>
  <ion-button expand="full"
              size="large"
              shape="round"
              (click)="recoveryPassword()">
    Recuperar
  </ion-button>
</ion-content>