ion-content,
.incoming-call-background {
  background: linear-gradient(0deg, rgb(17, 0, 34) 0%, rgb(36, 10, 61) 100%);
  --background: linear-gradient(0deg, rgb(17, 0, 34) 0%, rgb(36, 10, 61) 100%);
}

ion-toolbar,
ion-item {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.pulse {
  box-shadow: 0 0 0 0 var(--ion-color-primary);
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}