ion-toolbar,
ion-item {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-select {
  color: var(--ion-color-light);
}

ion-datetime {
  --placeholder-color: white;
  color: white;
}