 <ion-header>
   <ion-toolbar color="primary">
     <ion-buttons slot="start">
       <ion-back-button [defaultHref]="defaultBackHref"
                        (click)="navigateHome()"></ion-back-button>
     </ion-buttons>
     <ion-buttons slot="end"
                  *ngIf="loginType=='therapist'">
       <ion-button (click)="presentCallAlert()">
         <ion-icon name="call"
                   size="large"></ion-icon>
       </ion-button>
       <ion-button (click)="presentModal()">
         <ion-icon name="calendar"
                   size="large"></ion-icon>
       </ion-button>
       <ion-button (click)="presentOptions($event)">
         <ion-icon name="more"
                   size="large"></ion-icon>
       </ion-button>
     </ion-buttons>
     <ion-buttons slot="end">
       <ion-button (click)="presentCallAlert()">
         <ion-icon name="videocam"
                   size="large"></ion-icon>
       </ion-button>
     </ion-buttons>
     <ion-title>
       <div class="title-block">
         <!-- <ion-icon name="user"
                   color="secondary"
                   class="title-icon"></ion-icon> -->
         <ion-text class="title-text">{{receiver?.name}} {{receiver?.last_name}}</ion-text>
       </div>
     </ion-title>
   </ion-toolbar>
 </ion-header>
 <ion-content>
   <chat-component [receiver]="receiver"
                   [sender]="sender"></chat-component>
 </ion-content>