<ion-content fullscreen>
  <div class="background"></div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"
                       color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item class="ion-padding-horizontal">
    <ion-text color="light">
      <h1>Entrar a Mind<sup>2</sup></h1>
    </ion-text>
  </ion-item>
  <br>
  <br>
  <ion-item color="light"
            class="ion-padding-horizontal">
    <ion-label position="floating"
               color="light">Correo electrónico</ion-label>
    <ion-input color="light"
               rounded></ion-input>
  </ion-item>
  <ion-item color="light"
            class="ion-padding-horizontal">
    <ion-label position="floating"
               color="light">Contraseña</ion-label>
    <ion-input color="light"
               type="password"></ion-input>
  </ion-item>
  <br>
  <ion-button color="light"
              fill="clear"
              expand="full"
              type="button">Olvidé mi contraseña</ion-button>
  <br><br>
  <ion-button expand="full"
              size="large"
              shape="round"
              (click)="loginUser()">
    Ingresar
  </ion-button>
</ion-content>