<ion-content fullscreen>
  <div class="background"></div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"
                       color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item class="ion-padding-horizontal"
            lines="none">
    <ion-text color="light">
      <h1>Entrar a Mind<sup>2</sup></h1>
    </ion-text>
  </ion-item>
  <br>
  <br>
  <ion-item color="light"
            class="ion-padding-horizontal">
    <ion-label position="floating"
               color="light">Correo electrónico</ion-label>
    <ion-input color="light"
               type="email"
               [(ngModel)]="username"
               rounded></ion-input>
  </ion-item>
  <ion-item color="light"
            class="ion-padding-horizontal">
    <ion-label position="floating"
               color="light">Contraseña</ion-label>
    <ion-input color="light"
               type="password"
               [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item color="light"
            class="ion-padding-horizontal"
            *ngIf="loginType=='therapist'">
    <ion-label position="floating"
               color="light">Código de Terapeuta</ion-label>
    <ion-input color="light"
               type="text"
               [(ngModel)]="therapistCode"></ion-input>
  </ion-item>
  <br>
  <ion-button color="light"
              fill="clear"
              expand="full"
              [routerLink]="['/password-recovery']">Olvidé mi contraseña</ion-button>
  <br><br>
  <ion-button expand="full"
              size="large"
              shape="round"
              (click)="loginUser()">Ingresar</ion-button>
  <br>
  <ion-button expand="full"
              size="large"
              shape="round"
              color="secondary"
              [routerLink]="['/sign-up-therapist']"
              *ngIf="loginType=='therapist'">Registrarme</ion-button>
  <ion-button color="light"
              fill="clear"
              expand="full"
              margin
              *ngIf="loginType=='patient'"
              (click)="loginType='therapist'">Soy Terapeuta</ion-button>
</ion-content>