// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.background-1 {
  background-image: url('/assets/back_2.png');
  background-color: transparent;
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  // pointer-events: none;
  background-size: 100% 100%;
  background-position: center;
}

.background-welcome {
  background-image: url('/assets/back_1.png');
  background-color: transparent;
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: cover;
}

.opacity-6 {
  opacity: .6;
}

.text-primary {
  color: var(--ion-color-primary) !important;
}

.text-secondary {
  color: var(--ion-color-secondary) !important;
}

.text-tertiary {
  color: var(--ion-color-tertiary) !important;
}

.text-danger {
  color: var(--ion-color-danger) !important;
}

.custom-loading {
  // background: linear-gradient(0deg, rgb(17, 0, 34) 0%, rgb(36, 10, 61) 100%);
  // --background: linear-gradient(0deg, rgb(17, 0, 34) 0%, rgb(36, 10, 61) 100%);
  // background: linear-gradient(224deg, #884aa6, #2d0e4d);
  background: linear-gradient(15deg, #5b5597 0%, #831ea3 100%);
  --background: linear-gradient(15deg, #5b5597 0%, #831ea3 100%);
  background-size: 400% 400%;
  animation: custom-loader 3s ease infinite;

  .loading-wrapper {
    background: var(--ion-color-light);
  }

}

@keyframes custom-loader {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 51%
  }

  100% {
    background-position: 0% 50%
  }
}