#local {
  width: 100vw;
  height: 100vh;
  background: rgb(186, 164, 228);

  video {
    transform: translateX(-20%);
  }
}

#remote {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 25vh;
  bottom: 10%;
  background: #00bcd4;

  video {
    transform: translateX(-20%);
  }
}