<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      <span>
        Sesión Mind<sup>2</sup>
      </span>
      <!-- <span class="timer ion-float-end">{{time}}</span> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #scrollArea>

  <div id="video-container">

    <div id="local"
         class="small-video"
         #localVideo
         (click)="toggleFullScreen('local')">
      <!-- <p>local video</p> -->
    </div>

    <div id="remote"
         class="fullscreen-video"
         #remoteVideo
         (click)="toggleFullScreen('remote')">
      <!-- <p>remote video</p> -->
    </div>
  </div>
  <ion-row class="call-controls"
           text-center>
    <ion-col></ion-col>
    <ion-col>
      <ion-fab-button style="margin: auto;"
                      [color]="videoActived ? 'danger' : 'success'"
                      (click)="toggleVideo()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col class="ion-text-center">

      <ion-fab-button style="margin: auto;"
                      color="danger"
                      (click)="disconnect()">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button style="margin: auto;"
                      [color]="!audioActived ? 'success' : 'danger'"
                      (click)="toggleAudio()">
        <ion-icon [name]="!audioActived ? 'mic' : 'mic-off'"></ion-icon>
      </ion-fab-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

</ion-content>