<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="closeTerms()"
                  color="light">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="/assets/logo_white.png"
             style="width: 62px; margin: auto;"
             class="ion-page"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text color="primary"
              style="text-align: center; display: block; width: 100%;">
      <h1>Términos y Condiciones</h1>
    </ion-text>
  </ion-item>

  <p class="ion-padding-horizontal ion-text-justify">
    El presente documento establece los Términos y Condiciones Generales de Uso (“TyC”) de la presente
    multiplataforma
    tecnológica, compuesta por sitio web, aplicación digital y blog (indistintamente la “App” o “App Mind2”); que
    constituye un contrato vinculante entre la persona mayor de edad usuaria de la App (“Usuario”) y la empresa
    propietaria de la misma, Mind2 me S.A.P.I de C.V, (“Mind2”) sociedad constituida bajo las leyes de los Estados
    Unidos Mexicanos, con domicilio en Xicotencatl numero 120, Del Carmen, Coyoacan, CDMX .
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    En lo subsecuente Mind2 incluye a cualquiera de sus subsidiarias y afiliadas o partes relacionadas. El uso y
    acceso,
    sea en un momento o de manera contínua, a la App implican la plena y total aceptación de los presentes TyC.
    Si estos TyC no le resultan aceptables, usted debe suspender el uso de la App y dejar de usar cualquier servicio
    prestado por Mind2 o cualquiera de sus subsidiarias y afiliadas o partes relacionadas; si no suspende dicho uso,
    usted seguirá obligado conforme a estos TyC.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Asimismo, Mind2 ha creado un código de conducta dirigido a Usuarios y proveedores (en adelante “Código de Conducta”)
    el cual deberá ser respetado en todo momento por el Usuario en el acceso y uso a la App así como de cualquier red
    social, plataforma o medio de Mind2.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    La App Mind2 es una entidad multi plataforma creada para que el Usuario tenga a su alcance la posibilidad de
    contactar con un psicólogo profesional; acceso a contenido relacionado con los Servicios; y actividades de
    mindfulness, creación de hábitos, meditación, yoga.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los servicios que se prestan a través de la App (los “Servicios”) consisten en:
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Una plataforma tecnológica que permite a los usuarios de aplicaciones móviles o páginas web, organizar y planear
    servicios de orientación psicológica con proveedores de dichos servicios, dichos proveedores a su vez realizan el
    ofrecimiento de servicios de orientación psicológica por medio de la App Mind2.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los proveedores terceros que ofrecen sus servicios son terceros particulares, prestadores de servicios psicológicos
    que se encuentran acreditados con licenciatura y/o maestría y/o doctorado en Psicología y cuentan con experiencia
    laboral en la misma. Estos proveedores no tienen ninguna relación laboral con Mind2, ni tampoco ninguna función de
    agencia, representación y/o comisión o similares (en adelante “Proveedores Independientes”). Por lo tanto, los
    Proveedores Independientes tienen total libertad de expresión y de estilo en la prestación de sus servicios.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Una plataforma tecnológica que permite el acceso a contenidos multimedia (imágenes, audio y video) de efecto
    psico-terapéutico.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Una plataforma tecnológica que permite el acceso a artículos escritos generados por personas expertas en temas de
    psicología.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los Servicios deberán entenderse en los términos siguientes:
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    La App no está diseñada para diagnóstico clínico que requiera una evaluación en persona, por lo que en ningún caso,
    la prestación de los Servicios ni cualquier contacto con los Proveedores Independientes a través de la App podrá
    considerarse como diagnóstico clínico.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    En ningún caso la prestación de los Servicios podrá considerarse como un diagnóstico oficial y por lo tanto no debe
    ser utilizada si el Usuario requiere documentación o aprobaciones oficiales.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    La prestación de los diversos servicios depende de diversos factores, como lo son el software y hardware de Mind2,
    el de terceros y del Usuario, por lo que Mind2 no se hace responsable por cualquier tipo de falla que impida el uso
    de la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los Servicios que se prestan a través de la App no son un consejo médico, asesoría médica, ni de cualquier otro
    tipo, sino un sistema que facilita la autoayuda en busca del bienestar mental y bienestar de los Usuarios.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El acceso y uso de los Servicios o de cualquier contenido se realizará bajo la responsabilidad del Usuario.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El usuario entiende y acepta que los servicios de orientación psicológica se ofrecen y prestan por profesionistas
    independientes, designados previamente como Proveedores Independientes, a la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    En ese sentido, Mind2 niega y no ofrece ninguna garantía respecto a que los Servicios constituyan la totalidad de lo
    esperado por el Usuario o lo ofertado por el Tercero Independiente.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mind2 no ofrece garantía alguna y se excusa de toda responsabilidad derivada de:
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (i) la integridad, alcance, exactitud, disponibilidad, puntualidad, seguridad o fiabilidad de los Servicios o
    cualquier tipo de contenido;
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (ii) los daños en cualquier tipo de sistema informático, la pérdida de datos o cualquier otro tipo de daño producto
    del acceso a o la utilización de los Servicios o cualquier contenido;
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (iii) los daños en cualquier tipo de sistema informático, la pérdida de datos o cualquier otro tipo de daño producto
    de la descarga de contenidos desde la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (iv) la supresión o la falla de almacenamiento o de transmisión de cualquier contenido u otro comunicado mantenido
    por los Servicios; y
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (v) el hecho de que los Servicios cumplan las exigencias del usuario o estén disponibles ininterrumpidamente, de
    manera segura o sin errores.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los Usuarios deberán utilizar un software de detección y eliminación de virus informáticos previo para la descarga
    de archivos y/o cualquier contenido de la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    En caso de que el Usuario requiera algún servicio adicional, deberá ponerse en contacto con Mind2 utiizando los
    medios de contacto proporcionados en la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Características adicionales
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Adicionalmente el Usuario deberá respetar y tener en consideración que:
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El horario de los servicios de orientación psicológica será acordado de forma totalmente autónoma entre el Proveedor
    Independiente y el Usuario.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los contenidos multimedia y artículos escritos a los que se tiene acceso en la App son generados por personas que no
    pertenecen a Mind2 por lo que el contenido de los mismos son responsabilidad exclusiva de sus autores. En ningún
    caso, los mencionados contenidos multimedia, artículos escritos y/o enlaces a sitios web externos a los que tenga
    acceso el Usuario en la App serán considerados como consejo, recomendación, aprobación, patrocinio y/o promoción por
    parte de Mind2. Mind2 únicamente ha obtenido la autorización para la comunicación al público de las obras
    mencionadas a través de la App Mind2. El Usuario es responsable del entendimiento particular y personal que tenga
    respecto de cada contenido y artículo al que acceda en la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    La App Mind2 será el único medio para la prestación de servicios entre el Proveedor Independiente y el Usuario.
    El Usuario podrá consultar en la App la información con los principales puntos sobre la trayectoria profesional de
    los Proveedores Independientes, para que se encuentren en posibilidad de elegir libremente al que consideren idóneo
    para sus necesidades y requerimientos.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario podrá en todo momento y de forma totalmente libre elegir y cambiar de Proveedor Independiente.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    En ese sentido, Mind2 se liberá de cualquier responsabilidad ante cualquier tipo de reclamo por cualquier tema
    relacionado con el contenido de la orientación psicológica brindada por los Proveedores Independientes.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mind2 clasificará a los Proveedores Independientes de acuerdo a sus criterios objetivos internos, dentro de los
    cuales se encuentran los niveles de conocimiento y tiempo de experiencia de los mismos.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    La clasificación realizada por Mind2 respecto a los Proveedores Independientes tendrá repercusión directa en las
    tarifas establecidas por los Servicios. Las tarifas de los Proveedores Independientes serán publicados en la App
    Mind2.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El pago de la tarifa de algún Proveedor Independiente otorgará el beneficio de acceso a ciertos contenidos
    multimedia y artículos escritos publicados en la App Mind2. En caso de que el Usuario desee acceder a mayor cantidad
    de contenidos y artículos deberá efectuar un pago adicional para que la App le otorgue el acceso.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Ninguno de los Servicios brindados en la App Mind2 es dirigido a la atención de emergencias. Si el Usuario considera
    tener una emergencia médica o de salud mental y desea atenderla, debe de dejar de usar la App Mind2 y acudir
    personalmente con un profesional o institución de salud.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    De igual forma, si el Usuario se encuentra experimentando pensamientos de suicidio o la idea de que es un peligro
    para el mismo y/o los demás, el Usuario debe dejar de usar la App y acudir personal e inmediatamente a una clínica o
    institución de salud.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario declara entender el alcance y limitaciones de los Servicios, manifestando que, en caso de requerir la
    atención personal y directa de un profesional de la salud, buscará dichas atenciones inmediatamente y dejará de
    utilizar la App Mind2.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los Servicios que se ofrecen en la App Mind2 se renuevan de forma periódica, por lo que la forma y la naturaleza de
    los mismos podrían cambiar en el tiempo sin que exista la obligación de que Mind2 dé aviso al Usuario. Los Servicios
    podrán dejar de ser prestados en forma temporal o permanente de forma parcial o completa sin que exista obligación
    de Mind2 de dar aviso previo al Usuario.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El acceso, registro y la utilización continuada por parte del Usuario de la App supone su adhesión y aceptación
    expresa a los Términos y Condiciones Generales de Uso de la versión publicada en el momento en que el Usuario acceda
    por primera vez, así como de versiones posteriores que de tiempo en tiempo Minds2 publique a su entera discreción.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Servicios Adicionales
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mind2 establecerá medios adicionales a la App para la comunicación e interacción con sus Usuarios. Estos medios
    podrían ser redes sociales, blogs, grupos de chat, entre otros (en adelante “Medios Mind2”).
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Las y los Usuarios deberán respetar los presentes TyC y el Código de Conducta en el uso de los Medios Mind2.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Propiedad Intelectual
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario reconoce y acepta que el uso de los contenidos y/o Servicios ofrecidos a través de la App serán bajo su
    exclusivo riesgo y/o responsabilidad. El Usuario se compromete a utilizar la App y todo su contenido y Servicios de
    conformidad con las leyes aplicables en México. Asimismo, el Usuario se compromete hacer un uso adecuado de los
    Servicios y/o contenidos de la App y a no reproducirlos, copiarlos, difundirlos masivamente y/o emplearlos para
    realizar actividades ilícitas, que atenten contra derechos de terceros, que infrinjan regulación sobre propiedad
    intelectual e industrial y/o en general cualesquiera otras actividades que conlleven una afectación directa o
    indirecta a Mind2 o a cualquier tercero.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Poner el uso de la marca expresamente
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Declaraciones y Garantías.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mediante la aceptación de los presentes Términos y Condiciones Generales de Uso, el Usuario entiende, declara y
    garantiza, tanto para el uso de la App, recibir un Servicio como para la creación de la cuenta o descarga de
    contenidos, que:
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Ser mayor de edad, tener capacidad jurídica y facultades suficientes al suscribir estos TyC y sujetarse y cumplir
    con los mismos.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Tanto la falta de veracidad en sus declaraciones, como la falta cumplimiento a estos TyC, constituirán una causa de
    terminación de su registro como Usuario de la App, sin responsabilidad a cargo de Mind2 y sin perjuicio de cualquier
    otro derecho o acción que Mind2 pudiere tener disponible.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Reconoce que es su libre elección el acceso y uso de los Servicios de la App, por lo que en ningún caso, medien
    amenazas ni coerción, inducción o alicientes impropios. Derivado de lo anterior, al ser su entera voluntad libera en
    todo momento a Mind2 de un Servicio continuado o cualquier situación que no haya hecho del conocimiento de Mind2 de
    manera fehaciente a los datos de contacto proporcionados en la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Funcionamiento de la App
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    La App Minds2 funciona mediante un programa informático diseñado para mejorar y facilitar que los Usuarios tengan
    acceso a los Servicios.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Acceso.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario accederá a la App Mind2 proporcionando: Nombre completo (incluyendo ambos apellidos) y correo electrónico
    personal.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El nickname y contraseña proporcionados por el Usuario a la App Mind2 son de carácter estrictamente personal, por lo
    que el usuario será responsable de su uso y resguardo.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El uso inadecuado y/o ilegal del nickname y contraseña proporcionados por el Usuario es responsabilidad exclusiva de
    éste último.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Requisitos de los Usuarios para acceder al Servicio.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Para hacer uso de los Servicios el Usuario deberá proporcionar información y datos reales y completos a la App
    Mind2. Los datos que deberá proporcionar el Usuario de forma obligatoria para la prestación de los Servicios son:
    nombre, fecha de nacimiento, nacionalidad, teléfono, correo electrónico.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario se compromete a que, en caso de haber una modificación y/o actualización, sobre algún dato o información
    proporcionada, lo notificará de forma inmediata.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Baja de Usuario
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario, en cualquier momento y sin justificación alguna, puede solicitar la baja de la App Mind2. Para tal
    efecto, el Usuario deberá solicitar la baja mediante comunicación escrita a <a
       href="mailto:hola@mind2.me">hola@mind2.me</a> indicando su nombre de
    usuario y el servicio concreto del que se desee dar de baja.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Una vez efectuada la baja de la App, el Usuario podrá solicitar un nuevo registro como cliente, quedando reservada
    la facultad de Minds2 de no admitir dicho registro.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Entre los motivos por los cuales Mind2 se puede reservar el derecho de admitir el segundo registro del Usuario se
    encuentran:
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (i) En caso de existencia de algún conflicto o controversia suscitado entre Mind2 y el Usuario.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (ii) En caso de existencia de algún conflicto o controversia suscitado entre Mind2 cualquier colaborador, asociado,
    proveedor, algún cliente y/o potencial cliente de Mind2 con el Usuario.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Pagos
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los pagos realizados para la prestación de los Servicios deberán de realizarse por la o el Usuario en las
    plataformas electrónicas que se indiquen en la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario deberá efectuar los pagos conforme a los montos y modalidades indicados en la App Mind2.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los Servicios se prestan de forma personal, por lo tanto, el pago deberá ser realizado directamente por el Usuario
    que los utilice o, excepcionalmente, por un tercero que brinde su consentimiento.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El servicio de recepción, tramitación y gestión de los pagos efectuados por el Usuario lo realiza un tercero ajeno a
    Mind2, por lo tanto, las reglas de gestión y tramitación de pagos pertenecen y son operadas por la empresa externa
    recabadora de los pagos.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    En ese sentido, Mind2 no se hace responsable por ningún aspecto relacionado con la gestión de los pagos de los
    Servicios.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mind2 no acepta responsabilidad sobre cualquier falla, imprevisto, inconveniente y/o daño y/o perjuicio que pudiera
    generar el sistema de pagos.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    En caso de requerir un comprobante fiscal -factura-, el Usuario podrá solicitarlos al correo electrónico:
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mind2 no realiza reembolsos y/o devoluciones de los pagos efectuados bajo ningún supuesto.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Cancelación
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario podrá terminar la prestación de los Servicios en cualquier momento y sin necesidad de justificación
    alguna.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mind2 puede interrumpir, suspender o cancelar la cuenta con el que el Usuario cuente o dejar de proporcionarle la
    totalidad o una parte de los Servicios, en cualquier momento y por cualquier razón, siendo entre otras:
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (i) Si el Usuario ha violado los presentes TyC.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (ii) Si el Usuario ha violado los derechos de propiedad de intelectual de Mind2 o de cualquier persona que participe
    en la App, y/o
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (iii) Si el Usuario ha violado el Código de Conducta.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    (iv) Si el Usuario genera un riesgo, exposición, vulnerabilidad o una posible contingencia legal para Mind2.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Datos Personales
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Para conocer el tratamiento de los datos personales que se hayan compartido a través de la App, favor de consultar
    el aviso de privacidad de la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mind2 no tratará ni almacenará datos clínicos de los Usuarios.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Notificaciones
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Mind2 podrá enviar notificaciones y avisos relacionados con la prestación de los Servicios al Usuario por medio de
    la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Asimismo, Mind2 podrá enviar correos electrónicos al Usuario con información relativa a las actualizaciones y
    mejoras de los Servicios y de la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    En ningún momento, Mind2 enviará notificaciones, avisos y/o correos electrónicos para promocionar servicios no
    relacionados con la App.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    El Usuario podrá establecer comunicación directa con el equipo de Mind2 mediante el siguiente correo electrónico:
    <a href="mailto:hola@mind2.me">hola@mind2.me</a>
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Duración y terminación.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    La prestación de los servicios y/o contenidos de la presente aplicación tiene una duración indefinida.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Ley aplicable y jurisdicción.
  </p>
  <p class="ion-padding-horizontal ion-text-justify">
    Los presentes Términos y Condiciones Generales de Uso serán interpretados conforme a las leyes aplicables del orden
    federal vigentes en México. Para la ejecución y cumplimiento, el usuario se somete a la jurisdicción de los
    tribunales competentes del fuero federal en la Ciudad de México, renunciando irrevocablemente a cualquier otro fuero
    que pudiera corresponderle por su domicilio presente o futuro, o por cualquier otra causa
  </p>


</ion-content>