<ion-content fullscreen>
  <div class="background-1"></div>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="checkout"
                         text="Volver"
                         color="light"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-item class="ion-padding-horizontal"
            lines="none">
    <ion-text color="light">
      <h1>Agregar Tarjeta</h1>
    </ion-text>
  </ion-item>

  <hr>

  <form [formGroup]="cardForm"
        (ngSubmit)="addCard()">
    <ion-item color="light"
              class="ion-padding-horizontal">
      <ion-label position="floating"
                 color="light">Nombre de Tarjetahabiente</ion-label>
      <ion-input color="light"
                 formControlName="holder_name"
                 required
                 rounded></ion-input>
    </ion-item>
    <ion-item color="light"
              class="ion-padding-horizontal">
      <ion-label position="floating"
                 color="light">Número de Tarjeta</ion-label>
      <ion-input color="light"
                 type="number"
                 required
                 formControlName="number"></ion-input>
      <ion-button slot="end"
                  fill="clear"
                  size="default"
                  color="light"
                  (click)="scanCard()">
        <ion-icon slot="icon-only"
                  name="camera"></ion-icon>
      </ion-button>
    </ion-item>
    <!-- <ion-item color="light"
              lines="none"
              class="ion-padding-horizontal">
      <ion-text position="floating"
                color="light">Fecha Vencimiento</ion-text>
    </ion-item> -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item color="light"
                    class="ion-padding-horizontal">
            <ion-label color="light"
                       position="floating">Mes</ion-label>
            <ion-select formControlName="exp_month"
                        required
                        okText="Aceptar"
                        cancelText="Cancelar">
              <ion-select-option *ngFor="let month of months"
                                 [value]="month.value">{{month.value}}</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-col>
        <ion-col>
          <ion-item color="light"
                    class="ion-padding-horizontal">
            <ion-label color="light"
                       position="floating">Año</ion-label>
            <ion-select formControlName="exp_year"
                        required
                        okText="Aceptar"
                        cancelText="Cancelar">
              <ion-select-option *ngFor="let year of years"
                                 [value]="year.value">{{year.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item color="light"
                    class="ion-padding-horizontal">
            <ion-label color="light"
                       position="floating">CVV</ion-label>
            <ion-input formControlName="cvv"
                       required
                       type="text"
                       color="light">
            </ion-input>
            <ion-input type="hidden"
                       name="tokenInput"
                       id="tokenInput"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--
      billingEmailAddress
      billingFirstName_D
      billingMiddleName_D
      billingLastName_D
      billingAddress_D
      billingAddress2_D
      billingCity_D
      billingState_D
      billingPostalCode_D
      billingCountry_D
      billingPhoneNumber_D
     -->
    <ion-item class="ion-padding-horizontal"
              lines="none">
      <ion-text color="light">
        <h2>Información antifraude</h2>
      </ion-text>
    </ion-item>

    <ion-item color="light"
              class="ion-padding-horizontal"
              formGroupName="billing">
      <ion-label position="floating"
                 color="light">Email</ion-label>
      <ion-input color="light"
                 type="email"
                 formControlName="billingEmailAddress"></ion-input>
    </ion-item>

    <ion-item color="light"
              class="ion-padding-horizontal"
              formGroupName="billing">
      <ion-label position="floating"
                 color="light">Nombre</ion-label>
      <ion-input color="light"
                 type="text"
                 formControlName="billingFirstName_D"></ion-input>
    </ion-item>

    <ion-item color="light"
              class="ion-padding-horizontal"
              formGroupName="billing">
      <ion-label position="floating"
                 color="light">Apellido Materno</ion-label>
      <ion-input color="light"
                 type="text"
                 formControlName="billingMiddleName_D"></ion-input>
    </ion-item>

    <ion-item color="light"
              class="ion-padding-horizontal"
              formGroupName="billing">
      <ion-label position="floating"
                 color="light">Apellido Paterno</ion-label>
      <ion-input color="light"
                 type="text"
                 formControlName="billingLastName_D"></ion-input>
    </ion-item>

    <ion-item color="light"
              class="ion-padding-horizontal"
              formGroupName="billing">
      <ion-label position="floating"
                 color="light">Calle y Número</ion-label>
      <ion-input color="light"
                 type="text"
                 formControlName="billingAddress_D"></ion-input>
    </ion-item>

    <ion-item color="light"
              class="ion-padding-horizontal"
              formGroupName="billing">
      <ion-label position="floating"
                 color="light">Alcaldía, municipio, colonia</ion-label>
      <ion-input color="light"
                 type="text"
                 formControlName="billingAddress2_D"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item color="light"
                    class="ion-padding-horizontal"
                    formGroupName="billing">
            <ion-label position="floating"
                       color="light">Estado</ion-label>
            <ion-input color="light"
                       type="text"
                       formControlName="billingState_D"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="light"
                    class="ion-padding-horizontal"
                    formGroupName="billing">
            <ion-label position="floating"
                       color="light">Ciudad</ion-label>
            <ion-input color="light"
                       type="text"
                       formControlName="billingCity_D"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item color="light"
                    class="ion-padding-horizontal"
                    formGroupName="billing">
            <ion-label position="floating"
                       color="light">País</ion-label>
            <ion-input color="light"
                       type="text"
                       formControlName="billingCountry_D"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="light"
                    class="ion-padding-horizontal"
                    formGroupName="billing">
            <ion-label position="floating"
                       color="light">Código Postal</ion-label>
            <ion-input color="light"
                       type="number"
                       formControlName="billingPostalCode_D"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item color="light"
              class="ion-padding-horizontal"
              formGroupName="billing">
      <ion-label position="floating"
                 color="light">Número de Teléfono</ion-label>
      <ion-input color="light"
                 type="number"
                 formControlName="billingPhoneNumber_D"></ion-input>
    </ion-item>
    <br>
    <ion-item class="ion-text-center">
      <ion-text color="light">
        Se hará un cargo por $10.00 MXN para verificar tu tarjeta el cual será reembolsado.
      </ion-text>
    </ion-item>
    <br>
    <ion-item>
      <ion-text color="danger"
                *ngIf="cardForm.invalid">
        <h5 class="ion-no-margin">
          Por favor llene todos los campos requeridos.
        </h5>
      </ion-text>
    </ion-item>
    <br>
    <ion-button expand="full"
                size="large"
                shape="round"
                [disabled]="cardForm.invalid"
                type="submit">
      Registrar
    </ion-button>
  </form>


</ion-content>