<ion-content fullscreen>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="plans"
                         text="Volver"
                         color="light"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">Mis tarjetas</ion-title>
      <ion-buttons slot="end">
        <ion-button defaultHref="plans"
                    [routerLink]="['/add-card']"
                    queryParamsHandling="merge"
                    color="light"
                    iconOnly>
          <ion-icon name="add"
                    size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="background-1"></div>

  <ion-refresher slot="fixed"
                 color="light"
                 (ionRefresh)="getCards($event)">
    <ion-refresher-content color="light"></ion-refresher-content>
  </ion-refresher>

  <credit-card *ngFor="let card of cards"
               [card]="card"
               [showDelete]="true"
               (delete)="confirmDelete($event)"
               [hidden]="card.hidden"></credit-card>

</ion-content>