<ion-content fullscreen>
  <div class="background"></div>

  <!-- <ion-fab vertical="center"
           horizontal="center"
           slot="fixed">
    <ion-fab-button color="secondary"
                    (click)="goToSessionPage('therapist')">
      <ion-icon name="chatboxes"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-item text-center
            lines="none">
    <ion-label color="light"
               style="font-size: 1.5em; padding-top: 30px;">Bienvenido Usuario</ion-label>
  </ion-item>
  <!-- <ion-grid style="margin-top: 50px;">
    <ion-row>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full"
                    (click)="goToSessionPage('patient')">
          <div>
            <ion-icon name="chatboxes"></ion-icon>
            Mi Sesión <br> &nbsp;
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full">
          <div>
            <ion-icon name="headset"></ion-icon>
            Chat de <br>Servicio
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full">
          <div>
            <ion-icon name="card"></ion-icon>
            Pagar <br> &nbsp;
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-card color="light"
            margin
            class="ion-activatable ripple-parent"
            *ngFor="let patient of patients"
            (click)="goToSessionPage('therapist', patient.cometChatId)">
    <ion-card-content>
      <ion-item lines="none"
                detail
                no-padding>
        <ion-icon slot="start"
                  size="large"
                  color="dark"
                  src="/assets/chat_dark.svg"></ion-icon>
        <ion-avatar slot="start">
          <img src="assets/patient.png">
        </ion-avatar>
        <ion-label>
          <h3>{{patient.name}} {{patient.last_name}}</h3>
          <p class="text-muted">{{patient.state}}, {{patient.country}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <div class="menu-buttons">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-fab-button style="margin: auto;">
            <ion-icon src="/assets/perfil.svg"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <ion-fab-button style="margin: auto;"
                          color="danger"
                          (click)="logout()">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <ion-fab-button style="margin: auto;">
            <ion-icon src="/assets/home.svg"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>