<ion-content fullscreen>
  <div class="background"></div>

  <ion-item text-center
            lines="none">
    <ion-label color="light"
               style="font-size: 1.5em; padding-top: 50px;">Bienvenido Usuario</ion-label>
  </ion-item>
  <ion-grid style="margin-top: 50px;">
    <ion-row>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full">
          <div>
            <ion-icon src="/assets/espacio_tera.svg"></ion-icon>
            Mi Sesión <br> &nbsp;
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full">
          <div>
            <ion-icon src="/assets/espacio_tera.svg"></ion-icon>
            Chat de <br>Servicio
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full">
          <div>
            <ion-icon src="/assets/espacio_tera.svg"></ion-icon>
            Pagar <br> &nbsp;
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="menu-buttons">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-fab-button style="margin: auto;">
            <ion-icon src="/assets/perfil.svg"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-fab-button style="margin: auto;">
            <ion-icon src="/assets/home.svg"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>