.background {
  background-image: url('/assets/back_2.png');
  background-color: transparent;
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  // pointer-events: none;
  background-size: 100% 100%;
  background-position: center;
}

ion-toolbar,
ion-item {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-select {
  color: var(--ion-color-light);
}

/* .home-button {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  color: var(--ion-color-light);
  background-color: var(--ion-color-primary);
} */

ion-icon.icon-large {
  font-size: 64px;
}

.home-button {
  border-radius: 10px;
  height: 100%;
  overflow: hidden;

  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10%;

    ion-icon {
      margin-bottom: 10px;
      font-size: 72px;
    }
  }
}