<ion-content fullscreen>
  <div class="background-1"></div>

  <ion-item text-center
            lines="none">
    <ion-label color="light"
               style="font-size: 1.5em; padding-top: 50px;">Bienvenido {{user.name}}</ion-label>
  </ion-item>
  <ion-grid style="margin-top: 50px;">
    <ion-row>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full"
                    (click)="goToSessionPage('patient')">
          <div>
            <ion-icon name="chatboxes"></ion-icon>
            Mi Sesión <br> &nbsp;
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full"
                    (click)="goToSupportChat()">
          <div>
            <ion-icon name="headset"></ion-icon>
            Chat de <br>Servicio
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="home-button"
                    expand="full"
                    [routerLink]="['/plans']">
          <div>
            <ion-icon name="card"></ion-icon>
            Pagar <br> &nbsp;
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="6">
        <ion-button color="tertiary"
                    *ngIf="user.therapist"
                    shape="round"
                    class="ion-margin-top"
                    (click)="openNextAppointment()">
          <ion-icon slot="start"
                    name="calendar"></ion-icon>
          Agendar Cita
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <app-menu></app-menu>
</ion-content>