<ion-content fullscreen
             class="plan-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"
                       color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item class="ion-padding-horizontal"
            lines="none">
    <ion-text color="light">
      <h1>Elegir Plan</h1>
    </ion-text>
  </ion-item>

  <ion-card color="light"
            margin
            *ngFor="let plan of plans">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <h2 style="font-size: 1.2em;">{{plan.name}}</h2>
          </ion-col>
          <ion-col>
            <ion-button expand="full"
                        fill="outline"
                        color="tertiary"
                        shape="round"
                        [routerLink]="['/checkout']"
                        [queryParams]="{plan: plan.id}">Comprar</ion-button>
            <h1 class="ion-text-center"
                style="margin-top: 1em; font-size: 1.3em;">{{plan.amount | currency}} MXN</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>