ion-content,
.plan-backgroud {
  background: rgb(47, 9, 70);
  background: linear-gradient(0deg, rgba(60,39,85,1) 0%, rgba(55,16,96,1) 100%);
  --background: linear-gradient(0deg, rgba(60,39,85,1) 0%, rgba(55,16,96,1) 100%);
}


ion-toolbar,
ion-item {
  --background: transparent;
  --ion-color-base: transparent !important;
}